/* Custom Stylesheet */
/**
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}
td, th {
  padding: 6px 8px;
}

tr:nth-child(even) {background: #B6C2C9}
tr:nth-child(odd) {background: #FFF}

a {
  outline: none;
}
