/* Custom Stylesheet */
/**
 * Made By MaterializeCSS.com
 */

td, th {
  padding: 6px 8px;
}

tr:nth-child(even) {background: #e2e6e9}
tr:nth-child(odd) {background: #FFF}

a {
  outline: none;
}

.material-icons {
  font-size: 18px;
}
